img {
  height: 40vh;
  max-width: 30vw;
  width:100%;
}

.card {
  background: white;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.5);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-caption {
  background: transparent;
  padding: 1rem;
}
